.container {
  display: flex;
  flex: 1 1;
  display: grid;
  gap: clamp(20px, 2vw, 32px);
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
      "heading heading heading heading"
      "activity activity activity nutrients"
      "square square square nutrients";
  padding-top: clamp(10px, 3vw, 40px);
  padding-right: clamp(10px, 1vw, 60px);
  padding-left: clamp(10px, 1vw, 107px);
}

.verticalNav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  max-width: 120px;
  min-width: 90px;
  &__ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    padding: 0;
    &--li {
      margin: 1em 0;
      color: white
    }
  }
  .copyright {
  position: absolute;
  bottom: 10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-size: 1em;
  color: #FFF;
}
}

.heading {
  grid-area: heading;
  margin-bottom: clamp(15px, 3vh, 50px);
}
