.container {
  position: absolute;
  top: 20%;
  left: 25%;
  display: flex;
  flex-direction: column;
}

.activityChart {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 1em;
  background-color: #fbfbfb;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &--title {
      display: flex;
      flex-direction: row;
      font-size: 1em;
    }
    &--legend {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      font-size: 0.8em;
      color: #74798c;
      .axisTitle {
        margin: 0 5px 0 5px;
      }
      .weightDot {
        background-color: #000;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px 0 5px;
      }

      .caloriesDot {
        background-color: #e60000;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px 0 5px;
      }
    }
  }
}
