.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  margin: auto;
  &__title {
    font-weight: bold;
  }
  &__message {
    text-align: center;
  }
  &__redirectLink {
    text-decoration: underline;
    color: #ff6060;
  }
}