.header {
  background-color: #000;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__nav {
    flex: 1 1;
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      margin-left: 4em;
      &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        border-radius: 50%;
        background-color: red;
        width: 60px;
        height: 60px;
        img {
          position: absolute;
        }
      }
      h1 {
        color: red;
        font-size: 2em;
        margin-left: 0.5em;
      }
    }
    &--ul {
      list-style-type: none;
      flex: 1 1;
      display: flex;
      justify-content: space-between;
      li {
        color: #fff;
        margin: 0 1em;
        font-weight: bold;
        font-size: 1.5em;
      }
    }
  }
}
